.al-container {
    height: 100vh; /* Adjust the height as needed */
    width: 100vw; /* Adjust the width as needed */
    display: flex;
    justify-content: center;
    align-items: center;

}

.al-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.al-logo{
    height:100%; /* Adjust the height of the image */
    width: auto; /* Let the width adjust automatically to maintain the aspect ratio */

}
.al-logo img{
    height: 130px;
    width: 130px;
}
.al-text h1{
    height: auto;
    width: auto;
    font-size: 33px;
    margin-top: -40px;
    font-weight: bold;
    color: black;

}
.al-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    width: 29%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;

}


.al-body{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 27%;
    row-gap: 15px;
}

.al-body input{
    width: 100%;
    height:100% ;
    background: transparent;
    outline: none;
    border: 2px solid black;
    border-radius: 40px;
    font-size:16px ;
    color: black;
}
.al-body input::placeholder{
    color: black;
}

.al-body input:hover {
    border-color:black; /* Change the border color when the input is focused or hovered */

}
.al-forgot{
    display: flex;
    column-gap: 80px;

}
.al-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 27px;
}
.al-forgot a{
    color: black;
}
.al-forgot a:hover {
    color: grey; /* Change color on hover */
}
.al-forgot label{
    color: black;
}
.al-btn button{
    width: 367px;
    height:55px ;
    background:black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    cursor: pointer;
    font-size: 20px;
    color: white;
    font-weight: 600;

}
.al-btn button:hover {
    background-color: grey; /* Change to your desired hover color */
}
.al-link a {
    color:black;

}
.al-link label{
    color: black;
}
.al-link a:hover {
    color:grey;
}










