.db-container{background: white;}

.db-btn_before button{
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease; /* Add a smooth transition effect */
}
/* Change the border color when the button is hovered */
.db-btn_before button:hover {
    border-bottom-color: black; /* Change to your desired border color */
}
.db-btn-wrapper button{
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease; /* Add a smooth transition effect */
}
/* Change the border color when the button is hovered */
.db-btn-wrapper button:hover {
    border-bottom-color: black; /* Change to your desired border color */
}

.db-container .db-header{
    display:flex;
    background-color: white;

    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 1000;


}
.db-logo img {
    width:130px; /* Set the desired width of the logo */
    height: 120px; /* Maintain aspect ratio */
    margin-top: -17px; /* Add top margin for spacing, adjust as needed */

}

.db-searchbar {
    flex-grow: 1; /* Allow the search bar to take up remaining space */
    margin-left: 15px;
    /* Adjust the left margin for spacing, change as needed */
}


.db-searchbar input {
    width: 100%; /* Take up 100% of the available width within .searchbar */
    padding: 10px; /* Add padding for better visual appearance, adjust as needed */
    box-sizing: border-box;
    margin-top: 14px;
    background-color: white; /* Include padding in the width calculation */
    color: black;
    border-radius:40px ;
    font-size: 16px;
    border: 2px solid black;
    outline: none;

}

.db-searchbar input::placeholder {
    color: black; /* Change the color of the placeholder text */
    font-size: 16px; /* Adjust the font size of the placeholder text */
}

.db-btn-wrapper button {
    margin-left: 10px;
    background-color:white;
    color: black;
    padding: 25px 10px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    font-size: 18px;
    height: 60px;

}
.db-search_button button{
    margin-left:-43px;
    margin-top: 23px;
    background-color:white;
    color: black;
    cursor: pointer;
    padding:5px;
    border: none;


}
.db-search_button i {
    font-size: 20px; /* Adjust the font size of the icon */
    margin-right: 5px;}/* Add spacing between the icon and text */
.db-btn-wrapper button i {
    font-size: 20px; /* Adjust the font size of the icon */
    margin-right: 5px; /* Add spacing between the icon and text */
}
.db-btn_before button {
    margin-left: 10px;
    background-color:white;
    color: black;
    padding: 25px 10px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    font-size: 18px;
    height: 60px;

}
.db-btn_before button i {
    font-size: 20px; /* Adjust the font size of the icon */
    margin-right: 5px;}/* Add spacing between the icon and text */
.db-container .db-footer{


    display: flex;
    height:40% ;
    background: black;
    /*margin-top: 20px;*/
    font-size: 5px;
    /*align-items: flex-end;*/
    justify-content: space-around;

}
.db-footer .db-get-help{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    margin-top: 35px;


}
.db-footer .db-about-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: -75px;

}
.db-footer .db-logos{
    display: flex;
    align-items: center;
    /*justify-content: space-evenly;*/

}
.db-logos img{
    padding: 8px}
.db-get-help button{
    background-color: black;
    color: grey;
    font-size: 14px;
    border: none;

}
.db-get-help button:hover {
    color: white; /* Change to the desired color on hover */
}
.db-get-help span{
    font-size: 13px;
    margin-top: 15px;
    color: lightgrey;
    /*padding-bottom: -50px;*/
    /*margin-bottom: -60px;*/


}

.db-about-us button{
    background-color: black;
    color: grey;
    font-size: 14px;
    border: none;

}
.db-about-us button:hover {
    color: white; /* Change to the desired color on hover */
}
.db-about-us h1{
    color: white;
    font-size: 15px;
}
.db-get-help h1{
    color: white;
    font-size: 15px;
}


.db-logos span{
    font-size: 16px;
    color: lightgrey;


}

.db-logos img{
    cursor: pointer;
}

.db-body {
    height: 380vh;
    background-color: lightgray;
}

.db-dash1{
    height: 185vh;
    display: flex;
    background-color: lightgrey;
    flex-wrap: wrap;;
    gap: 10px;
}

.db-dash2{
    height: 180vh;
    background-color: lightgrey;
    display: flex;
    flex-wrap: wrap;;
    gap: 10px;
}
.db-img-dash1 {
    width: 94vw;
    height: 80vh;
    background-color:lightgrey;


}
.db-img-dash1 img {
    padding-left: 5%;
    padding-top: 20px;
    width: 90%;
    height: 80vh;
}
.db-img-dash2 {
    width: 95%;
    height: 80vh;

}
.db-img-dash2 img {
    padding-left: 5%;
    padding-top: 20px;
    width: 94vw;
    height: 78vh;
}
.db-product-dash1{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding-left: 15px;
    padding-top: 20px;
    margin-left: 70px;
    width: 89.5vw;
    height: 100vh;
    border: 1px solid black;
}
.db-product-dash2{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    padding-left: 15px;
    padding-top: 20px;
    margin-left: 70px;
    width: 89.5vw;
    height: 110vh;
    border: 1px solid black;
}

.db-btn_before button{
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease; /* Add a smooth transition effect */
}
/* Change the border color when the button is hovered */
.db-btn_before button:hover {
    border-bottom-color: black; /* Change to your desired border color */
}
.db-btn-wrapper button{
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease; /* Add a smooth transition effect */
}
/* Change the border color when the button is hovered */
.home-btn-wrapper button:hover {
    border-bottom-color: black; /* Change to your desired border color */
}
.item-section{
    background-color: white;
    row-gap: 2px;
    width: 14vw;
    height: 45vh;
    cursor: pointer;
}
.item-section .item-image{
    width: 14vw;

}
.item-section .item-image img{
    width: 14vw;
    height: 30vh;
}
.item-section p{
    margin: 2px;

}
.item-info{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.item-info p{
    color: black;
    font-weight: 500;
}
.item--desc-detail p{
    color: black;
    font-weight: 700;

}
.item-quantity p{
    color: black;
}
.item-desc{
    display: flex;
    column-gap: 70px;
}
.item-section:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Add a box shadow on hover */
}
.product-not-found-message p{
    color: black;
    font-size: 20px;
    font-weight: 500;

}







